.list-carDel{
    width: 178px;
    height: 200px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px 0;
    float: left;
    margin: 5px 0;
    margin-left: 5px;
    padding: 10px;
    box-sizing: border-box;

    &:hover{
        background: grey;
    }

    .list-carDel-deleteIcon{
        height: 37px;
        border: none;
        border-radius: 5px;

        &:hover{
            background: orange;
            cursor: pointer;
        }

        img{
            height: 100%;
        }
    }

    .list-carDel-image{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;

        img{
            max-width: 100%;
            max-height: 100%;
            border-radius: 5px;
        }
    }
    .list-carDel-info{
        width: 100%;
        height: 20%;

        p{
            width: 100%;
            color: blue;
            display: flex;
            justify-content: space-between;

            .year{
                color: black;
            }
            .price{
                color: green;
                font-weight: bold;
            }
            .km{
                color: red;
            }
        }
    }
}