.user-account{
    width: 100%;
    border: 1px solid grey;
    margin-top: 20px;
    border-radius: 5px;

    .user-account-welcome{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            height: 100%;
        }
    }

    .user-account-setting{
        width: 100%;
        border: 1px solid grey;
        border-radius: 5px;
        display: flex;
    }
}